<html>
<headlang="en">
 <metacharset="UTF-8">
 <linkrel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <linkrel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script
 src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> 
 <title>Album</title>
</head>
    <body>
        <!-- NavBar -->
​<nav class="navbar navbar-default" ><div class="container-fluid">
    
</div></nav>

    <h1>Album</h1>
    <ul>
        
        <li>
             <a href="{% url 'category-list' %}">Category</a>
        </li>
        <li>
            <a href="{% url 'photo-list' %}">Photo</a>
        </li>
        <li>
                <a href="{%  url 'photo-list' %}">upload</a>
        </li>
    </ul>
    <hr>
        <div>
            {% block section %}
            {% endblock section %}
        </div>
        <div>
            {% block maincontent %}
            {% endblock maincontent %}
        </div>
    </body>
</html>